//Text Hierarchy
$text-primary: .87;
$text-secondary: .54;
$text-tertiary: .38;


//Color Palette
$subtle: #E9E9E9;
$link: #C1C1C1; //change later
$primary: #ececec;
$alert: #D24D57;
$warning: #F4B350;
$success:  #2ECC71;
$form: #C5EFF7;


$orange: #D35400;
$green: #26A65B;
$blue-2: #2574A9;
$gray: #6C7A89;
$red: #D91E18;