html, body {
	margin:0;
	padding:0;
}

div.container {
  @include outer-container;
  position: relative;
  overflow: hidden;
}

div.half-col {
	@include span-columns(6);
}

div.half-col-collapse {
	@include span-columns(6, collapse);
}

div.third-col {
	@include span-columns(4);
}

div.block {
	@include span-columns(12);
}

div.content {
	padding: 5px;
}

.center {
	text-align: center;
}

.hidden {
	display: none !important;
}

.no-emphasis {
	font-size: 12px;
	opacity: $text-secondary;
}

.left {
	float: left;
}

.right {
	float: right;
}

.divider-line {
	border-bottom: 1px solid $light-gray;
	width: 95%;
	margin: 5px 0 8px;
}

.spacer {
	background-color: $light-gray;
	height: 100%;
}

.top-navigation {
	height: 50px;
	padding: 5px;
	padding-top: 15px;
	font-size: .8em;
	border-bottom: 2px solid darken(#fff, 5%);
}

.omega {
	@include omega;
}

.hover:hover {
	cursor: pointer;
}

.omega {
	@include omega;
}

ul.nav-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;

	li {
		float: right;
	}

	a {
		display: block;
		width: 60px;
		text-decoration: none;
	}
}

.full-width {
	width: 100%;
}


.modal-title {
	margin-bottom: 10px;
}

.close {
	font-size: .7em;
	margin: 2px 4px;
}

.form-wrapper {
	overflow: auto;
	height: auto;
	border: 1px solid lighten($light-gray, 5%);
	border-radius: 4px;
	padding: 8px;
	margin-bottom: 10px;
}

div.delete {
	border-top: 1px solid lighten($light-gray, 5%);
	margin-top: 10px;

	a {
		color: lighten($alert, 10%);
		font-size: .7em;
		transition: color 0.5s ease;

		&:hover {
			color: darken($alert, 15%);
		}
	}
}


//tables
.table { display: table }
.tr       { display: table-row }
.thead    { display: table-header-group }
.tbody    { display: table-row-group }
.tfoot    { display: table-footer-group }
.col      { display: table-column }
.colgroup { display: table-column-group }
.td, .th   { display: table-cell }
.caption  { display: table-caption }



