
div.container {
  @include outer-container;
  overflow: hidden;
}

div.half-col {
	@include span-columns(6);
}

div.half-col-collapse {
	@include span-columns(6, collapse);
}

div.third-col {
	@include span-columns(4);
}

div.block {
	@include span-columns(12);
	padding: 10px;
}

div.content {
	padding: 5px;
}

.center {
	text-align: center;
}

.hidden {
	display: none !important;
}

.no-emphasis {
	font-size: 12px;
	opacity: $text-secondary;
}

.left {
	float: left;
}

.right {
	float: right;
}

.divider-line {
	border-bottom: 1px solid $light-gray;
	width: 95%;
	margin: 5px 0 8px;
}

.spacer {
	background-color: $light-gray;
	height: 100%;
}

.top-navigation {
	height: 40px;
	padding: 5px;
	font-size: .8em;
	border-bottom: 1px solid #F7F7F7;
}

.omega {
	@include omega;
}

ul.nav-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;

	li {
		float: right;
	}

	a {
		display: block;
		width: 60px;
		text-decoration: none;
	}
}

//tables
.table { display: table }
.tr       { display: table-row }
.thead    { display: table-header-group }
.tbody    { display: table-row-group }
.tfoot    { display: table-footer-group }
.col      { display: table-column }
.colgroup { display: table-column-group }
.td, .th   { display: table-cell }
.caption  { display: table-caption }



