@import 'base/utilities/variables';
//main-content styles

//sidebar styles
.menu-base {
	@include span-columns(1);

	background-color: $subtle;
	height: 100vh;
	font-size: .8em;
	font-weight: 600;
	z-index: 2;

	a {
		color: $medium-gray;

		&:active,
		&:focus,
		&:hover {
			color: shade($medium-gray, 25%);
		}
	}

	.img {
		fill: $medium-gray;
		margin: 0;
	}

}

.menu-open {
	width: 180px;
	float: left;
	background-color: darken($subtle, 10%);
	height: 100vh;
	left: -180px;
	position:absolute;
	z-index: 1;
	padding: 10px;
	font-size: 1.2em;
	font-weight: 600;

	li {
		margin: 8px 0;
		cursor: pointer;
	}

	li.create-trip {
		color: $blue;
	}

	li:hover {
		opacity: $text-primary;
	}
}

.main-content {
	@include span-columns(11);
	z-index: 3;
}
//trip-info styles
.trip-info {
	@include span-columns(12);
	border-bottom: 1px solid $subtle;
	margin-bottom: 20px;
	padding: 5px;
	overflow: auto;

	h1 {
		float: left;
	}

	aside {
		@include span-columns(12);
		font-size: .8em;
	}

	a.button {
		float: right;
		vertical-align: middle;
	}
}
//destination-list styles
.destination-list {
	@include span-columns(4);
	background-color: $subtle;
}

.form{
	width:500px;
	float: left;
	margin-bottom: 20px;
}

//invite friends
.invite-friends {
	border-radius: $base-border-radius;
	background-color: $light-gray;
	height: 230px;
	width: 600px;
	left: 50%;
	top: -230px;
    margin-left: -300px;
    position: absolute;
    z-index: 100;
    padding: 10px;
}

.create-edit-trip {
	border-radius: $base-border-radius;
	background-color: $light-gray;
	height: 280px;
	width: 400px;
	left: 50%;
	top: -280px;
	margin-left: -200px;
	position: absolute;
	z-index: 100;
	padding: 10px;
}

//map styles
.map {
	@include span-columns(8);
	@include omega;
	background-color: $subtle;
}

//search styles
.search {
	@include span-columns(7);
	@include omega;
	background-color: $subtle;
}

.edit_form{
	@include span-columns(2);
	@include omega;
	background-color: $subtle;

}

.hide{
	visibility: hidden;
}

/*#destList{
	float: left;
}*/

//calendar styles
.calendar {
	@include span-columns(12);
	background-color: $light-gray;
	padding: 5px;
	overflow-x: scroll;
	overflow-y: auto;

	select{
		width: 100px;
	}
}

.calendar table.cal-dates {

}

.calendar table.cal-dests {
	width: auto;
	height: auto;
	background-color: white;
	overflow-x: scroll;


	tr {
		height: 50px;
	}

	td, th{
		border: 1px solid $medium-gray;
		width: 75px;
	}

	th {
		text-align: center;
		color: $medium-gray;
		font-weight: 600;
	}

	td {
		padding: 0;
	}

	.half-cell {
		@include span-columns(6, collapse);
		border-right: solid 1px $light-gray;
		height: 50px;
	}

	.reserved {
		background-color: $light-gray;
	}
}

