// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'base/utilities/variables';


div.initial {
	// height: 300px;
	height: auto;
	overflow: auto;
}

div.secondary {
	height: 300px;
	text-align: center;
	background-color: #F7F7F7;
}

div.tertiary {
	height: 400px;
	padding-top: 40px;


}
// Form Styles
.action-container {
	height: auto;
	overflow: auto;
	width:240px;
	background-color: #F7F7F7;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	padding: 10px;

	aside {
		text-align: right;
		font-size: 12px;
	}
}

div.third-col {
	padding: 10px;
}

.main-text {
	font-size: 1.3em;
	padding: 40px 0 0 40px;
}

img {
	margin: 10px;
}