<%= javascript_tag do %>
    $(window).load(function() {
        Dashboard.start();
    });
<% end %>
<div class="search-bar">
    <div class="search-term">
    </div>
    <div class="search-location">
    </div>
    <div class="search-button">
    </div>
</div>
<div class="search-results-header"></div>
<div class="search-results-list">
    <div class="search-result">
        <div class="result-name"></div>
        <div class="result-address"></div>
        <div class="add-button"></div>
    </div>
</div>