<div class="search-bar">
    <input class="search-term" type="text" size="25" value="Find...">
    <input class="search-location" type="text" size="25" value="Near...">
    <input class="search-button" type="submit" value="Search">
</div>
<div class="search-results-header"></div>
<div class="search-results-list">
    <div class="search-result">
        <div class="result-name"></div>
        <div class="result-address"></div>
        <div class="add-button"></div>
    </div>
</div>