<div class="menu-base content center">
	<ul>
		<li><a href="" class="trips">Trips</a></li>
	</ul>
</div>
<div class="menu-open">
	<%= render "trips/index" %>
</div>
<div class="main-content">
	<div class="trip-info">
	<%= render "trips/header" %>
	</div>
	<div class="destination-list">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente illum, libero molestiae unde dolore. Praesentium provident incidunt porro nemo perferendis? Cumque deserunt perspiciatis reiciendis facere deleniti, illum temporibus laudantium eaque.
	</div>
	<div class="map">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit consectetur, placeat alias eos temporibus autem tempora cum odio asperiores provident perspiciatis deleniti saepe recusandae. Harum iusto, ex tenetur neque.
	</div>
	<!-- For Iter 2 -->
	<div class="calendar" style="display: hidden">
	</div>
	<!-- For Iter 2 -->
</div>
