<div class="menu-base content center">
    <ul>
        <li><a href="" class="trips">Trips</a></li>
        <li>About</li>
    </ul>
</div>
<div class="menu-open">
    <ul>
        <li>New York</li>
        <li>Ibiza</li>
        <li>Bahamas</li>
    </ul>
</div>
<div class="main-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quam adipisci, aliquam dignissimos esse voluptatem modi laborum fugiat facilis possimus fuga iste excepturi ea incidunt obcaecati deleniti rem, inventore in.
    <%= render "shared/yelp_search" %>
    <div class="trip-info">
    </div>
    <div class="destination-list">
    </div>
    <div class="map">
    </div>
    <div class="calendar">
    </div>
</div>
