<div class="container">
	<header class="block top-navigation">
		<ul class="nav-menu">
			<li><a href="" class="log-in">Log In</a></li>
			<li><a href="">About</a></li>
		</ul>
	</header>
	<div class="block initial">
		<div class="half-col main-text"><p>We can't help you make friends, <br> but we can make travelling with the one's you have, easier.</p>
		<h2>Planit.</h2>
		</div>
		<div class="half-col center">
			<%= render "devise/registrations/new" %>
			<%= render "devise/sessions/new" %>
		</div>
	</div>
	<div class="block secondary">
		<div class="third-col">
			<img src="https://api.fnkr.net/testimg/150x150/00CED1/FFF/?text=img+placeholder">
		<h4>Something</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="third-col">
			<img src="https://api.fnkr.net/testimg/150x150/00CED1/FFF/?text=img+placeholder">
			<h4>Something</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="third-col">
			<img src="https://api.fnkr.net/testimg/150x150/00CED1/FFF/?text=img+placeholder">
			<h4>Something</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
	</div>
	<div class="block tertiary">
		<div class="half-col"><img src="https://api.fnkr.net/testimg/500x300/00CED1/FFF/?text=img+placeholder"></div>
		<div class="half-col">
			<h3>Lorem Ipsum</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui distinctio laudantium delectus enim adipisci quibusdam molestias placeat eligendi modi laborum neque necessitatibus earum beatae facilis cumque dignissimos, magni dolorum? Veniam!</p>
		</div>
	</div>
</div>