<div class="create-edit-trip modal">
	<h2>Create Trip</h2>
	<div class="divider-line"></div>
	<form action="" class="trip-form">
		<input type="text" name="location" placeholder ="Location">
		<input type="text" name="name" placeholder="Trip Name">
		<input type="text" name="start-date" placeholder = "Start Date" id="trip-start">
		<input type="text" name="end-date" placeholder = "End Date" id="trip-end">
		<a href="" data-function="save-trip">submit</a>
		<a href="" class="right" data-function="create-trip-close">Close</a>
	</form>
</div>