<div class="edit_dest modal">
	<h1>Edit Destination</h1>
	<div class="divider-line"></div>
	<form method="get" action="index.html" class="form">
        <input type="text" placeholder="Date" class="date-input" name="date" id="dest-date" />
        <input type="text" placeholder="Time" class="time-input" name="time" />
        <input type="text" placeholder="Duration" class="duration-input" name="duration" />
    </form>
    <a class="submit-input my-button left" id="create-button">Submit<a>
    <a href="" class="right" data-function="create-dest-close">Close</a>
</div>