<div class="dest_container modal">
    <a href="" class="right close" data-function="create-dest-close">Close</a>
    <div class="edit_dest">
        <div class="block center modal-title">
          <h1>Edit Destination</h1>
        </div>
        <div class="form-wrapper center">
            <input type="text" placeholder="Name" class="name-input" name="date" id="dest-name" />
            <input type="text" placeholder="Location" class="location-input" name="date" id="dest-location" />
            <input type="text" placeholder="Date" class="date-input" name="date" id="dest-date" />
            <div class="time-container">
                <input type="text" placeholder="Start Time" class="start-time-input time-input" name="start-time" />
                <span class="left" style="padding: 5px 10px 0">to</span>
                <input type="text" placeholder="End Time" class="end-time-input time-input" name="end-time" />
            </div>
            <div class="block delete">
              <a class ="delete" href="">Delete Destination</a>
            </div>
        </div>
        <div class="full-width center">
          <button class="submit-input full-width" id="create-button">Update Destination</button>
        </div>

        <!-- <a class="submit-input my-button left" id="create-button">Submit<a> -->
    </div>
</div>
