<div class="invite-friends modal">
	<input type="hidden" data-location=>
	<h2>Invite Friends</h2>
	<i>Please separate each email by a comma; existing users will be added automatically</i>
	<textarea rows="4" cols="30" data-function="submit-friends">
	</textarea>
	<div class="half-col">
		<a href="" class="invite left">submit</a>
	</div>
	<div class="half-col">
		<a href="" class="close right">close</a>
	</div>
</div>