<div class="invite-friends_container modal">
	<a href="" class="close right">close</a>
	<div class="invite-friends">
		<div class="block center modal-title">
			<h1>Invite Friends</h1>
		</div>
		<input type="hidden" data-location=>
		<textarea rows="4" cols="30" data-function="submit-friends">
		</textarea>
		<i>Please separate each email by a comma. Existing users will be added automatically.</i>
		<div class="block center">
			<button class="submit-input full-width invite" data-function="invite-friends">Add Friends</button>
		</div>
	</div>
</div>