<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> has invited you to join Planit!</h1>
    <p>
      Planit is the best app to allow you to coordinate and trvel with your friends!.<br>
    </p>
    <p>
      To sign up to the site, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>