<style>

</style>

<script type="text/javascript">

$(document).ready(function(){ 
        $(function() {
            Destination.start();
        });
 }) 


var Destination = (function() {

    // PRIVATE VARIABLES

    var create; // create form, value set in the "start" method below


    // PRIVATE METHODS

    /**
     * HTTP POST request
     * @param  {string}   url       URL path, e.g. "/api/smiles"
     * @param  {Object}   data      JSON data to send in request body
     * @param  {function} onSuccess   callback method to execute upon request success (200 status)
     * @param  {function} onFailure   callback method to execute upon request failure (non-200 status)
     * @return {None}
     */
    var makePostRequest = function(url, data, onSuccess, onFailure) {
        $.ajax({
            type: 'POST',
            url: url,
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: "json",
            success: onSuccess,
            error: onFailure
        });
    };
        
    /**
     * Insert dest into Itinerary List Table
     * @param  {Object}  dest       smile JSON
     * @param  {boolean} beginning   if true, insert smile at the beginning of the list of smiles
     * @return {None}
     */
    var insertDest = function(dest) {
      // Find a <table> element with id="myTable":
      var table = document.getElementById("destTable");

      // Create an empty <tr> element and add it to the 1st position of the table:
      var row = table.insertRow(1);

      // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
      var id_cell = row.insertCell(0);
      var name_cell = row.insertCell(1);
      var address_cell = row.insertCell(2);


      // Add some text to the new cells:
      id_cell.innerHTML = dest.id;
      name_cell.innerHTML = dest.name;
      address_cell.innerHTML = dest.address;
    };
    


    /**
     * Add event handlers for submitting the create form.
     * @return {None}
     */
    var attachCreateHandler = function(e) {

        // The handler for the Post button in the form
        create.on('click', function (e) {
            e.preventDefault (); // Tell the browser to skip its default click action

          
            var dest = {}; // Prepare the smile object to send to the server
            dest.id = 4;
            dest.name = "Paris";
            dest.address = "121 Dream Lane, France"

         
            // FINISH ME (Task 4): collect the rest of the data for the smile
            var onSuccess = function(data) {
                if (!data.errors){
                    console.log(data);
                    insertDest(data["destination"]);
                }else{
                    for (i in data.errors){ 
                        console.log(data.errors[i]); 
                    } 
                }
                // FINISH ME (Task 4): insert smile at the beginning of the smiles container
            };
            var onFailure = function(data) { 
                console.log("failure");

            };
            
            // FINISH ME (Task 4): make a POST request to create the smile, then 
            //            hide the form and show the 'Shared a smile...' button
            url = "/api/destinations"
            makePostRequest(url, dest, onSuccess, onFailure);

        });

    };



    
    /**
     * Start the app by displaying the most recent smiles and attaching event handlers.
     * @return {None}
     */
    var start = function() {
        create = $(".create");
        del = $(".delete");
        attachCreateHandler();


    };
    

    // PUBLIC METHODS
    // any private methods returned in the hash are accessible via Smile.key_name, e.g. Smile.start()
    return {
        start: start
    };
    
})();

</script>




<h1>Destinations</h1>
<table id="destTable">
<!--   <tr>
    <th>Destinations</th>
  </tr> -->
 <tr>
    <td>Id:</td>
    <td>Name:</td>
    <td>Address:</td>
 </tr>

  <% @destinations.each do |destination| %>
    <tr class="dest">
      <td><%= destination.id %></td>
      <td><%= destination.name %></td>
      <td><%= destination.address %></td>
      </td>
    </tr>
  <% end %>
</table>

<div class="big create">+</div>