// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$subtle: #E9E9E9;
$text-primary: .87;
$text-secondary: .54;
$text-tertiary: .38;

div {
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	padding:0;
	margin:0;
	opacity: $text-primary;
}

p {
	opacity: $text-secondary;
}

div.container {
  @include outer-container;
}

div.half-col {
	@include span-columns(6);
}

div.third-col {
	@include span-columns(4);
}

div.block {
	@include span-columns(12);
}

.center {
	text-align: center;
}

.hidden {
	display: none !important;
}

.no-emphasis {
	font-size: 12px;
	opacity: $text-tertiary;
}

.left {
	float: left;
}

.right {
	float: right;
}

.button {
	padding: 10px;
	border-radius: 5px;
	border: solid 2px #EFEFEF;
	background-color: #F2F2F2;
	height: auto;

	&:hover {
		background-color: #DDDDDD;
	}
}

div.initial {
	height: 350px;
}

div.secondary {
	height: 300px;
	text-align: center;
	padding-top: 30px;
	background-color: $subtle;
}


// Form Styles
.action-container {
	height: 270px;
	width:240px;
	background-color: #F7F7F7;
	border-radius: 5px;
	text-align: center;
	display: inline-block;

	aside {
		text-align: right;
		font-size: 12px;
	}

	a {
		text-decoration: none;
		color: #000;
		opacity: $text-tertiary;

		&:hover {
			opacity: $text-secondary;
		}
	}
}
form {
	padding: 3px;
	border: none;

	.field {
		margin:0;
		padding: 5px 0;
	}

	input {
		width: 200px;
		height: 25px;
		border: 2px solid #EBEBEB;
		padding-left: 5px;
	}

	input[type='checkbox'] {
		height: 15px;
		width: 15px;
		margin: 2px;
		vertical-align: middle;
	}

	input[value='Log in'] {
		margin-top: 8px;
	}
}